/*! AUI Navigation */

/* Nav defaults - put very little here!
-------------------- */
.aui-nav,
.aui-nav > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Horizontal, breadcrumbs and pagination are all horizontal */
.aui-nav-breadcrumbs:after,
.aui-nav-pagination:after,
.aui-nav-horizontal:after {
    clear: both;
    content: " ";
    display: table;
}
.aui-nav-breadcrumbs > li,
.aui-nav-pagination > li,
.aui-nav-horizontal > li {
    float: left;
}

.aui-nav .aui-icon {
    display: inline-block;
    margin: 0 0 -3px 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.aui-nav .aui-icon-dropdown {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #8e8e8e;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    text-indent: -99999px;
    position: relative;
    top: -3px;   
}

.aui-nav a.active .aui-icon-dropdown {
  border-top-color: #fff;
}



/* Breadcrumb navigation
-------------------- */
.aui-nav-breadcrumbs > li {
    padding: 0 10px 0 0;
}

.aui-nav-breadcrumbs > li + li:before {
    content: "/";
    padding-right: 10px
}

/* last of type for where it works */
.aui-nav-breadcrumbs > li.aui-nav-selected a,
.aui-nav-breadcrumbs > li:last-child a {
    color: #333;
}


/* Horizontal Navigation
-------------------- */
.aui-nav-horizontal > li a {
    padding-right: 10px;
}

/* Pagination
-------------------- */
.aui-nav-pagination > li {
    padding-right: 10px;
}

/* Vertical Navigation
-------------------- */
.aui-nav-vertical > li > a {
    display: block;
    padding: 7px 10px;
	line-height: 1.1428; /* 16px equiv */
    word-wrap: break-word;
}

.aui-nav-vertical > li > a:focus,
.aui-nav-vertical > li > a:hover {
    background: #e6e6e6;
	text-decoration: none;
}
.aui-nav-vertical > li > a:active {
    background: #3b73af;
    color: #fff;
}

.aui-nav-vertical .aui-nav-selected a {
    color: #333;
    font-weight: bold;
}


/* Navbar - a horizontal container, usually for horizontal nav
-------------------- */
.aui-navbar {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    margin: 0;
}

.aui-theme-default .aui-navbar + .aui-page-panel {
    border-top: 0;
    margin-top: 0;
}
.aui-theme-default .aui-page-panel > .aui-navbar {
    margin-left: -20px;
    margin-right: -20px;
}

/* breadcrumbs in navbar */
.aui-navbar .aui-nav-breadcrumbs > li {
    padding: 9px 0 9px 10px;
}

/* Horizontal Nav in a Navbar */
.aui-navbar .aui-nav-horizontal a {
    color: #3b73af;
    display: block;
    margin: 0 0 -1px 0;
    padding: 9px 10px 10px 10px; /* +1 px to bottom to allow for margin pull */
    text-decoration: none;
}
.aui-navbar .aui-nav-horizontal a:focus,
.aui-navbar .aui-nav-horizontal a:hover {
    background: #e6e6e6;
    text-decoration: none;
}

.aui-navbar .aui-nav-horizontal a.active,
.aui-navbar .aui-nav-horizontal a:active {
    background: #3b73af;
    color: #fff;
}

.aui-navbar .aui-nav-horizontal .aui-nav-selected a {
    font-weight: bold;
    color: #333;
    position: relative;    
}

.aui-navbar .aui-nav-horizontal .aui-nav-selected a:before,
.aui-navbar .aui-nav-horizontal .aui-nav-selected a:after {
  border: 8px solid transparent;
  border-style: outset outset solid outset; /* fixes FF bug */
  border-bottom-color: #ddd;
  bottom: 1px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
}
.aui-navbar .aui-nav-horizontal .aui-nav-selected a:after {
  background: transparent; 
  border-bottom-color: #fff;
  bottom: 0;
}

/* Navgroup - Vertical Navigation container
-------------------- */

.aui-page-panel > .aui-group.aui-group-navgroup {
    margin: -20px;
}

.aui-page-panel > .aui-group.aui-group-navgroup .aui-item {
    padding: 20px;
}
.aui-page-panel > .aui-group.aui-group-navgroup .aui-item.aui-item-navgroup {
    padding: 10px 10px 20px 10px;    
    width: 200px;    
}
.aui-page-panel > .aui-group.aui-group-navgroup .aui-item.aui-item-navgroup:first-child {
    border-right: 1px solid #dedede;
}
.aui-page-panel > .aui-group.aui-group-navgroup .aui-item.aui-item-navgroup:last-child {
    border-left: 1px solid #dedede;
}

.aui-navgroup .aui-nav-heading {
    color: #707070;
    font-size: 12px;
	font-weight: bold;
    text-transform: uppercase;
	line-height: 1.667; /* 20px */
	padding: 5px 10px;
}

.aui-navgroup .aui-nav-vertical,
.aui-navgroup .aui-nav-heading {
    border-top: 1px solid #dedede;
    margin-top: 5px;
	padding-top: 5px;
}

.aui-navgroup .aui-nav-heading:first-child,
.aui-navgroup .aui-nav-vertical:first-child,
.aui-navgroup .aui-nav-heading + .aui-nav-vertical {
    border-top: 0;
    margin-top: 0;
}

/* AUI Badge. Badgers? Badgers!
-------------------- */
.aui-nav .aui-badge {
    background: #ddd;
    color: #333;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    /* similar to lozenges but not the same */
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 5px;
   
    /* Set font stack as this is a 'graphical element' */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
